.fila{
	 background-color:#428bca;

}

.col_1{
	 background-color: #0F9;

}
.col_2{
	 background-color: #900;

}
.col_3{
	 background-color: #C39;

}
.col_4{
	 background-color: #F9F;

}

.fila_1{
	 background-color: #F3C;

}

.fila_2{
	 background-color: #90F;

}

.fila_3{
	 background-color: #6C0;

}

.red
{
	background-color: #F00;
	border:solid #00F}
.tamano_foto
{ background-size:auto 300px;}